/* Styles and classes used in the book, copied from project "Grammatica de Interlingue" */

body { margin: 5%; text-align: justify; font-size: medium; }
code { font-family: monospace; }
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }

.informalexample{
margin-left:.5em;
margin-right:.5em;
}

/* `sidebarblock` styles, adapted from the HTML conversion: */

.sidebarblock{
	color: red;
	border-style:solid;
	border-width:2px;
	border-color:#dbdbd6;
	margin-left:3em;
	margin-bottom:1.25em;
	padding:1.25em;
	background:#f3f3f2;
	-webkit-border-radius:4px;
	border-radius:4px}
